
and_logic/*.o
and_logic/POUS.c
and_logic/POUS.h
and_logic/LOCATED_VARIABLES.h
and_logic/VARIABLES.csv
and_logic/STD_CONF.c
and_logic/STD_CONF.h
and_logic/STD_RESSOURCE.c
and_logic/softplc

and_logic_debug/*.o
and_logic_debug/POUS.c
and_logic_debug/POUS.h
and_logic_debug/LOCATED_VARIABLES.h
and_logic_debug/VARIABLES.csv
and_logic_debug/STD_CONF.c
and_logic_debug/STD_CONF.h
and_logic_debug/STD_RESSOURCE.c
and_logic_debug/softplc

arithmetic_1/*.o
arithmetic_1/POUS.c
arithmetic_1/POUS.h
arithmetic_1/LOCATED_VARIABLES.h
arithmetic_1/VARIABLES.csv
arithmetic_1/STD_CONF.c
arithmetic_1/STD_CONF.h
arithmetic_1/STD_RESSOURCE.c
arithmetic_1/softplc

contact_seil/*.o
contact_seil/POUS.c
contact_seil/POUS.h
contact_seil/LOCATED_VARIABLES.h
contact_seil/VARIABLES.csv
contact_seil/STD_CONF.c
contact_seil/STD_CONF.h
contact_seil/STD_RESSOURCE.c
contact_seil/softplc

pid/*.o
pid/POUS.c
pid/POUS.h
pid/LOCATED_VARIABLES.h
pid/VARIABLES.csv
pid/STD_CONF.c
pid/STD_CONF.h
pid/STD_RESSOURCE.c
pid/softplc
